################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SIMS/.vs
/SIMS/bin/Debug/net8.0
/SIMS/obj
